

body {

padding: 2;
min-width: 320px;
min-height: 480px;

}

.completed {

	text-decoration: line-through;

}


.header {
 position: relative;
 height: 50px;
 background-color:grey;

}

#main {
	min-height: 300px;
	border: 2px solid black;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;  		
}

ul{
	
  list-style-type: none;
  padding: 0px;

}


table{

	border: 2px solid black;
	border-collapse: collapse;
	border-radius: 5px;
	margin: 2px;
}

.line {

 padding-left: 2px ;
 padding-right: 2px;
 margin: 0;
 border-bottom: 2px solid black;

}

p.line span:nth-child(1) {
 border-right: 2px solid black;	
}

p.line span:nth-child(2) {
 border-right: 2px solid black;	
}

div.add {
	margin: 2px;
	text-align: right;
}

input, textarea {
	
	border: 2px solid black;
	border-radius: 5px;
}

.footer {
	position: relative;
	bottom: 0;
	margin-top:2px ;
	background-color:grey;
	padding: 2px;
	border: 2px solid black;	

}

.footer > div{

	width: 320px;
	margin-left: auto;

}

.footer button {
    
    margin: 0px;
	border: 1px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	background-color: white;

}


.footer .left {
	
	border-left: 2px solid black;
	border-radius: 5px 0 0 5px;

}

.footer botton:nth-child(2) {


}

.footer botton:nth-child(3) {
	

}

.footer .right {

	border-right:2px solid black; 
	border-radius: 0 5px 5px 0;

}